body { font-family: Arial, sans-serif; margin: 1rem; color: #222;background: url('./images/nubecitas.png') no-repeat center center fixed;
    background-size: cover; }
header { display:flex; justify-content:space-between; align-items:center }
h1 { margin: 0 }
table { border-collapse: collapse; width: 100%; margin-top: 1rem }
table, th, td { border: 1px solid #ccc ; background-color: aliceblue;}
th, td { padding: 0.5rem }
.flashes { list-style:none; padding:0 }
.flashes li { padding: 0.5rem; margin: 0.3rem 0 }
.success { background:#e6ffed }
.danger { background:#ffdede }
.warning { background:#fff4d6 }

