<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}FlaskCloud-ADauthStock{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>FlaskCloud-ADauthStock</h1>
      {% if current_user.is_authenticated %}
        <div>Bienvenido, {{ current_user.display_name or current_user.username }} | <a href="{{ url_for('main.logout') }}">Cerrar sesión</a></div>
      {% endif %}
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
          {% for category, msg in messages %}
            <li class="{{ category }}">{{ msg }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
